.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 100px 100px 150px 100px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
}
