.container {
  background-color: white;
  min-height: 300px;
  display: flex;
  align-items: space-between;
  margin: 70px 30px;
  box-shadow: 5px 5px 10px rgb(204, 201, 201);
}

.movie_img {
  max-width: 150px;
  height: 100%;
  position: relative;
  bottom: 30px;
  left: 20px;
  box-shadow: 3px 3px 10px;
}

.movie_info {
  padding: 15px 20px 20px 70px;
}

.movie_title {
  margin: 10px 0 0 0;
  padding: 0;
}

.movie_title a {
  font-size: 600;
  color: black;
  text-decoration-line: none;
}

.movie_year {
  font-size: 100%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.movie_genres {
  color: rgb(111, 111, 111);
  list-style: none;
  padding-left: 0px;
  display: flex;
  gap: 10px;
}
